#table {
    font-family: Arial Narrow, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0457aa;
    color: white;
}

.btn {
    position: relative;
    width: auto;
    margin: 10px auto;
    padding: 10px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #2e78cc;
    color: #ecf0f1;
    font-size: 15px;
    transition: background-color .3s;
    font-family: Arial Narrow, sans-serif;
}

.btn:hover, .btn:focus {
    background-color: #2742ae;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}

html {
    position: static;
    height: 100%;
}

body {
    position: static;
    margin: 5%;
    background-color: #fffdfd;
    color: #343a5e;
    font-family: Arial Narrow, sans-serif;
    text-align: center;
}


h2 {
    font-weight: normal;
}

.btn.orange {
    background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
    background-color: #d35400;
}

.btn.red {
    background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
    background-color: #c0392b;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit; }

h1, .h1 {
    font-size: 2.5rem; }

.user {
    margin-left: 0.5rem;
    font-family: Arial Narrow, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #273cbb;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.4;
    color: #2e52e3;
    font-weight: 400;
    font-family: "Josefin Sans", Arial Narrow, sans-serif; }

input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.box {
    display: -webkit-box;
    flex-wrap: wrap;
}

.element {
    margin: 5px;
    position: relative;
}

.line {
    display: inline-block;

}


input[type="radio"] {
    position: absolute;
    opacity: 0;
    background-color: #2e52e3;
}



input[type="radio"]:checked{
    fill: rgb(0, 109, 217);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0.2rem;
    border: #c0392b;
}

element {
    fill: rgb(0, 109, 217);
    height: 3.6rem;
    width: 3.6rem;
    margin: 0.2rem;
    background-color: #2e52e3;
    border: #c0392b;
}

input[type=text],input[type=password] {
    padding: 3px;
    box-shadow: 3px 3px 5px grey;
    font-size: 14px;
    font-weight: 600;
    width: 300px;
}

label {
    color: #090808;
    font-weight: bold;
    width: 130px;

}
label:after { content: " " }

a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.center {
    position: static;
    margin-left: 650px;
}


